# Claude
.claude
.bash_profile
.bashrc
.idea
.mcp.json
.profile
.ripgreprc
.zprofile
.zshrc
config
HEAD
hooks
objects
refs

#VSCode
.vscode

# pixi environments
.pixi/*
!.pixi/config.toml

# bytecode
__pycache__

# demo code and data
05_simulating_eeg_data/demo

# slides
*.html
*-checkpoint.ipynb

# neuro data
**/data
*.fif